<% was_validated = recipe_ingredient.errors.any? %>

<%= form_with(model: recipe_ingredient, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% recipe_class = "form-control" %>
    <% recipe_was_invalid = recipe_ingredient.errors.include?(:recipe) %>

    <% if was_validated %>
      <% if recipe_was_invalid %>
        <% recipe_class << " is-invalid" %>
      <% else %>
        <% recipe_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :recipe_id %>
    <%= f.collection_select :recipe_id, Recipe.all, :id, :to_s, {}, class: "form-control" %>
    <% if recipe_was_invalid %>
      <% recipe_ingredient.errors.full_messages_for(:recipe).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% food_class = "form-control" %>
    <% food_was_invalid = recipe_ingredient.errors.include?(:food) %>

    <% if was_validated %>
      <% if food_was_invalid %>
        <% food_class << " is-invalid" %>
      <% else %>
        <% food_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :food_id %>
    <%= f.collection_select :food_id, InventoryOfFoodItem.all, :id, :to_s, {}, class: "form-control" %>
    <% if food_was_invalid %>
      <% recipe_ingredient.errors.full_messages_for(:food).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% ingredient_name_class = "form-control" %>
    <% ingredient_name_was_invalid = recipe_ingredient.errors.include?(:ingredient_name) %>

    <% if was_validated %>
      <% if ingredient_name_was_invalid %>
        <% ingredient_name_class << " is-invalid" %>
      <% else %>
        <% ingredient_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :ingredient_name %>
    <%= f.text_field :ingredient_name, class: ingredient_name_class, placeholder: "Enter ingredient name" %>
    <% if ingredient_name_was_invalid %>
      <% recipe_ingredient.errors.full_messages_for(:ingredient_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% quantity_class = "form-control" %>
    <% quantity_was_invalid = recipe_ingredient.errors.include?(:quantity) %>

    <% if was_validated %>
      <% if quantity_was_invalid %>
        <% quantity_class << " is-invalid" %>
      <% else %>
        <% quantity_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :quantity %>
    <%= f.number_field :quantity, class: quantity_class, placeholder: "Enter quantity" %>
    <% if quantity_was_invalid %>
      <% recipe_ingredient.errors.full_messages_for(:quantity).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% quantity_unit_class = "form-control" %>
    <% quantity_unit_was_invalid = recipe_ingredient.errors.include?(:quantity_unit) %>

    <% if was_validated %>
      <% if quantity_unit_was_invalid %>
        <% quantity_unit_class << " is-invalid" %>
      <% else %>
        <% quantity_unit_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :quantity_units %>
    <%= f.select :quantity_units, options_for_select(RecipeIngredient.quantity_units.keys), {}, class: "form-control" %>
    <% if quantity_unit_was_invalid %>
      <% recipe_ingredient.errors.full_messages_for(:quantity_unit).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
