<div class="card mb-3">
  <h2 class="card-header h4">
    Recipe Review #<%= recipe_review.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Reviewer</dt>
      <!-- Display reviewer_id start -->
      <dd><%= recipe_review.reviewer_id %></dd>
      <!-- Display reviewer_id end -->

      <dt>Recipe</dt>
      <!-- Display recipe_id start -->
      <dd><%= recipe_review.recipe_id %></dd>
      <!-- Display recipe_id end -->

      <dt>Rating</dt>
      <!-- Display rating start -->
      <dd><%= recipe_review.rating %></dd>
      <!-- Display rating end -->

      <dt>Review</dt>
      <!-- Display review start -->
      <dd><%= recipe_review.review %></dd>
      <!-- Display review end -->

      <dt>Recipe name</dt>
      <!-- Display recipe_name start -->
      <dd><%= recipe_review.recipe_name %></dd>
      <!-- Display recipe_name end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back recipe_review, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link recipe_review start -->
      <div class="col">
        <%= link_to edit_recipe_review_url(recipe_review), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link recipe_review end -->

      <!-- Delete link recipe_review start -->
      <div class="col">
        <%= link_to recipe_review, method: :delete, data: { confirm: "Do you really want to delete this recipe_review?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link recipe_review end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(recipe_review.updated_at) %> ago
  </div>
</div>
