<% was_validated = recipe.errors.any? %>

<%= form_with(model: recipe, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for recipe_name start -->
  <div class="form-group">
    <% recipe_name_class = "form-control" %>
    <% recipe_name_was_invalid = recipe.errors.include?(:recipe_name) %>

    <% if was_validated %>
      <% if recipe_name_was_invalid %>
        <% recipe_name_class << " is-invalid" %>
      <% else %>
        <% recipe_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :recipe_name %>
    <!-- Input for recipe_name start -->
    <%= f.text_field :recipe_name, class: recipe_name_class, placeholder: "Enter recipe name" %>
    <!-- Input for recipe_name end -->
    <% if recipe_name_was_invalid %>
      <% recipe.errors.full_messages_for(:recipe_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for recipe_name end -->
  <!-- Label and input for servings start -->
  <div class="form-group">
    <% serving_class = "form-control" %>
    <% serving_was_invalid = recipe.errors.include?(:serving) %>

    <% if was_validated %>
      <% if serving_was_invalid %>
        <% serving_class << " is-invalid" %>
      <% else %>
        <% serving_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :servings %>
    <!-- Input for servings start -->
    <%= f.text_field :servings, class: serving_class, placeholder: "Enter serving" %>
    <!-- Input for servings end -->
    <% if serving_was_invalid %>
      <% recipe.errors.full_messages_for(:serving).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for servings end -->
  <!-- Label and input for cooking_time_minutes start -->
  <div class="form-group">
    <% cooking_time_minute_class = "form-control" %>
    <% cooking_time_minute_was_invalid = recipe.errors.include?(:cooking_time_minute) %>

    <% if was_validated %>
      <% if cooking_time_minute_was_invalid %>
        <% cooking_time_minute_class << " is-invalid" %>
      <% else %>
        <% cooking_time_minute_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :cooking_time_minutes %>
    <!-- Input for cooking_time_minutes start -->
    <%= f.number_field :cooking_time_minutes, class: cooking_time_minute_class, placeholder: "Enter cooking time minute" %>
    <!-- Input for cooking_time_minutes end -->
    <% if cooking_time_minute_was_invalid %>
      <% recipe.errors.full_messages_for(:cooking_time_minute).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for cooking_time_minutes end -->
  <!-- Label and input for instructions start -->
  <div class="form-group">
    <% instruction_class = "form-control" %>
    <% instruction_was_invalid = recipe.errors.include?(:instruction) %>

    <% if was_validated %>
      <% if instruction_was_invalid %>
        <% instruction_class << " is-invalid" %>
      <% else %>
        <% instruction_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :instructions %>
    <!-- Input for instructions start -->
    <%= f.text_area :instructions, class: instruction_class, placeholder: "Enter instruction" %>
    <!-- Input for instructions end -->
    <% if instruction_was_invalid %>
      <% recipe.errors.full_messages_for(:instruction).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for instructions end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
