<%= form_with(model: @recipe_ingredient, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :recipe_id %>

    <%= f.collection_select :recipe_id, Recipe.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :food_id, value: @inventory_of_food_item.id %>

  <div class="form-group">
    <%= f.label :ingredient_name %>

    <%= f.text_field :ingredient_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :quantity %>

    <%= f.text_field :quantity, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :quantity_units %>

    <%= f.select :quantity_units, options_for_select(RecipeIngredient.quantity_units.keys), {}, class: "form-control" %>
  </div>

  <%= f.submit "Create recipe ingredient", class: "btn btn-block btn-outline-secondary" %>
<% end %>
