<%= form_with(model: @inventory_of_food_item, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :date_purchased %>

    <%= f.date_select :date_purchased, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :expiration_date %>

    <%= f.date_select :expiration_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :days_until_expiration %>

    <%= f.text_field :days_until_expiration, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :purchased_status %>

    <%= f.select :purchased_status, options_for_select(InventoryOfFoodItem.purchased_statuses.keys), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :food_name %>

    <%= f.text_field :food_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create inventory of food item", class: "btn btn-block btn-outline-secondary" %>
<% end %>
